@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f7fa;
}


.header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


.logo {
    width: 150px; 
}


.nav {
    display: flex;
    gap: 40px;
}

.nav-item {
    font-size: 16px;
    color: #233143;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}


.nav-item.active::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: #59d65c;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 8px;
}


.header-right {
    display: flex;
    gap: 15px;
}

.btn-login {
    background-color: #0a1a2b;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.btn-register {
    background-color: #c6ff4d;
    color: black;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}


.btn-login:hover,
.btn-register:hover,
.nav-item:hover {
    opacity: 0.8;
}


@media (max-width: 900px) {
    .nav {
        gap: 20px;
    }
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }
}

.nav-item {
    font-size: 16px;
    color: #233143;
    text-decoration: none;
    font-weight: 700; 
    position: relative;
}

.nav-item {
    position: relative;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  background: #f8f9fb;
}

.hero-left {
  max-width: 460px;
}

.hero-left h2 {
  font-size: 22px;
  font-weight: bold;
  color: #1c1c1c;
  line-height: 1.4;
}

.hero-left p {
  margin: 15px 0 25px;
  font-size: 15px;
  color: #4a4a4a;
}

.btn-interesses {
  background: #8cff5a;
  color: #000;
  padding: 12px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.hero-right img {
  width: 350px;
}



.filtros {
  display: flex;
  gap: 10px;
  padding: 20px 100px;
  background: white;
  border-top: 1px solid #e5e5e5;
}

.filtros select,
.filtros input {
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 6px;
  font-size: 14px;
}

.btn-buscar {
  background: #1b2a57;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



.cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 40px 100px;
  background: #f8f9fb;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #1c1c1c;
}

.card p {
  color: #666;
  margin: 8px 0 15px;
}

.card button {
  background: #8cff5a;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

